<table class="table mt-2">
<% post.comments.each do |comment| %>
  <tr>
    <td> <%= attachment_image_tag comment.user, :profile_image, size:'50x50',fallback:'no_image.jpg' %></td>
    <td><%= comment.comment %></td>
    <td><%= link_to comment.user.name, user_path(comment.user) %></td>
    <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
    <% if comment.user == current_user %>
      <td><%= link_to 'コメントを削除', post_comment_path(comment.post,comment), method: :delete, remote: true, class: "btn btn-sm btn-outline-danger" %></td>
    <% end %>
  </tr>
<% end %>
</table>
