<% post.comments.each do |comment| %>
  <p><%= attachment_image_tag comment.user, :profile_image, size:'100x100',fallback:'no_image.jpg' %></p>
  <%= comment.comment %><br/>
  <%= comment.user.name %> <%= comment.created_at.strftime('%Y/%m/%d') %>
  <%= link_to 'コメントを削除', post_comment_path(comment.post,comment), method: :delete, remote: true %>
<% end %>