<div class="container">
  <div class="row mb-4 mx-auto">
    <div class="col-md-12">
      <p class="h4 mt-4 mb-5">マイページ</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" style="background: #CCCCCC;">
      <%= attachment_image_tag @user, :profile_image, size:'400x200', fallback:'no_image.jpg' %>
    </div>
    <div class="col-md-8" style="background: #DDDDDD;">
      <p>ユーザーネーム:<%= @user.name %></p>
        <p>自己紹介:<%= @user.introduction %></p>
        <% if @user.id == current_user.id %>
          <%= link_to 'プロフィール編集', edit_user_path(@user) %>
        <% end %>
    </div>
  </div>
  <div class="col-md-12">
  <h4> My ALL Magis Strages</h4>
  <% @posts.each do |post| %>
  <div class="card shadow-lg mb-3">
  <%= link_to post_path(post) do %>
  <%= attachment_image_tag post, :post_image, size:'50x50',fallback:'no_image.jpg'%>
  <% end %>
  <%= post.name %><br/>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  <span class="text-right">
  <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-success rounded-pill' %>
  <%= link_to '削除', post_path(post), method: :delete,class: 'btn btn-sm btn-danger rounded-pill'  %>
  </span>
  </div>
  <% end %>
</div>


