<div class="container">
  <div class="row mb-4 mx-auto">
    <div class="col-md-12">
      <p class="h4 mt-4 mb-5">マイページ</p>
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%= attachment_image_tag @user, :profile_image, size:'400x200', fallback:'no_image.jpg', class:'sized' %>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>ユーザーネーム : <%= @user.name %></th>
        </tr>
        <tr>
          <td>自己紹介 : <%= @user.introduction %></td>
        </tr>
        <tr>
          <td>
          <% if @user.id == current_user.id %>
            <%= link_to 'プロフィール編集', edit_user_path(@user), class:'btn btn-sm btn-outline-primary'%>
          <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-12">
   <%= render 'posts/index', posts: @posts %>
</div>


