<div class="col-md-12">
    <%= image_tag 'top-image.png', class:'sized' %>
</div>

<div class="container">
  <div class="row">
    <!--lastFavoritesはその投稿のいいね数を代入するための場所-->
    <% lastFavorite = 0 %>
    <!--jは順位を示す変数。記号は何でもよい。-->
    <% j = 1 %>
    <% @all_ranks.each.with_index(1) do |ranking,i| %>
     <div class="card col-md-4 mt-2 mb-2">
      <% if i == 1 %>
       <% lastFavorite = ranking.favorites.count %>
      <% end %>
      <!--1位はelseの下に行き、2位以下はelseの上を回る-->
      <% if ranking.favorites.count != lastFavorite %>
       <% j = i %>
       <p>第<%= j %>位</p>
       <!--ユーザー名-->
        <p><%= link_to ranking.user.name, user_path(ranking.user_id) %></p>
       <!--投稿画像-->
       <p>♥<%= ranking.favorites.count %> いいね</p>
       <!--↓ここでfavorites.countをlastFavoritesに代入して上のlastFavoritesに代入する-->
       <% lastFavorite = ranking.favorites.count %>
      <% else %>
       <% lastFavorite = ranking.favorites.count %>
       <p>第<%= j %>位</p>
       <p><%= link_to ranking.user.name, user_path(ranking.user_id) %></p>
       <p>♥<%= ranking.favorites.count %> いいね</p>
      <% end %>
     </div>
     <% end %>
  </div>

  <div class="row">
    <div class="col-md-4" style="background: #CCCCCC;">
      <div class="search-form">
      <h4>商品名で検索</h4>
      <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :name, placeholder:"何かお探しですか？" %>
        <%= f.submit '検索', class: 'btn btn-sm btn-light' %>
      <% end %>
      </div>

      <div class="search-form">
      <table class="table table-bordered genre-table">
        <thead>
          <tr>
            <th>カテゴリー検索</th>
          </tr>
        </thead>
        <tbody>
        <% @categorys.each do |category| %>
          <tr>
            <td>
              <%= link_to category, search_posts_path, controller: "posts", action: "search", category: category %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    </div>

    <div class="col-md-8">
      <h4>ALL Magis Strages</h4>
      <%= render 'posts/index', posts: @posts %>
    </div>
</div>
