<div class="col-md-12">
    <%= image_tag 'top-image.png', class:'sized' %>
</div>

<div class="container">
  <div class="row">
    <!--lastFavoritesはその投稿のいいね数を代入するための場所-->
    <% lastFavorite = 0 %>
    <!--jは順位を示す変数。記号は何でもよい。-->
    <% j = 1 %>
    <% @all_ranks.each.with_index(1) do |ranking,i| %>
     <div class="card col-md-4 mt-2 mb-2">
      <% if i == 1 %>
       <% lastFavorite = ranking.favorites.count %>
      <% end %>
      <!--1位はelseの下に行き、2位以下はelseの上を回る-->
      <% if ranking.favorites.count != lastFavorite %>
       <% j = i %>
       <p>第<%= j %>位</p>
       <!--ユーザー名-->
        <p><%= link_to ranking.user.name, user_path(ranking.user_id) %></p>
       <!--投稿画像-->
       <p>♥<%= ranking.favorites.count %> いいね</p>
       <!--↓ここでfavorites.countをlastFavoritesに代入して上のlastFavoritesに代入する-->
       <% lastFavorite = ranking.favorites.count %>
      <% else %>
       <% lastFavorite = ranking.favorites.count %>
       <p>第<%= j %>位</p>
       <p><%= link_to ranking.user.name, user_path(ranking.user_id) %></p>
       <p>♥<%= ranking.favorites.count %> いいね</p>
      <% end %>
     </div>
     <% end %>
  </div>

  <div class="row">
    <div class="col-md-4" style="background: #CCCCCC;">
      <div class="search-form">
      <h4>商品名で検索</h4>
      <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :name, placeholder:"何かお探しですか？" %>
        <%= f.submit '検索', class: 'btn btn-sm btn-light' %>
      <% end %>
      </div>

      <div class="search-form">
      <table class="table table-bordered genre-table">
        <thead>
          <tr>
            <th>カテゴリー検索</th>
          </tr>
        </thead>
        <tbody>
        <% @categorys.each do |category| %>
          <tr>
            <td>
              <%= link_to category, search_posts_path(category) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    </div>

    <div class="col-md-8">
      <h4>ALL Magis Strages</h4>
      <% @posts.each do |post| %>
      <div class="card  shadow-lg mb-3" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4">
        <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :post_image, size:'159x120',fallback:'no_image.jpg' %>
        <% end %>
          </div>
           <div class="col-md-8">
             <div class="card-body">
        <h5 class="card-title"><%= post.name %></h5>
        <p class="card-text"><small class="text-muted">
          <span class="fas fa-heart heart_red ml-1"><%= post.favorites.count %></span>
          <span class="comments_count ml-1">コメント件数: <%= post.comments.count %></span>
          <span class="ml-1">投稿者: <%= post.user.name %></span>
          <span class="ml-1">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></span>
          <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-success' %>
          <%= link_to '削除', post_path(post), method: :delete,class: 'btn btn-sm btn-danger'  %>
        </small></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
