<div class="col-md-12">
    <%= image_tag 'top-image.png', class:'sized' %>
</div>

<div class="container">
  <h4 class="mt-4 mb-4 text-center">人気商品ランキング</h4>
  <div class="row">
    <!--lastFavoritesはその投稿のいいね数を代入するための場所-->
    <% lastFavorite = 0 %>
    <!--jは順位を示す変数。記号は何でもよい。-->
    <% j = 1 %>
    <% @all_ranks.each.with_index(1) do |ranking,i| %>
     <div class="card col-md-4 mt-2 mb-2">
      <% if i == 1 %>
       <% lastFavorite = ranking.favorites.count %>
      <% end %>
      <!--1位はelseの下に行き、2位以下はelseの上を回る-->
      <% if ranking.favorites.count != lastFavorite %>
       <% j = i %>
       <p>第<%= j %>位</p>
       <!--投稿の商品名-->
       <p><%= link_to ranking.name, post_path(ranking) %></p>
       <!--投稿画像-->
       <%= attachment_image_tag ranking, :post_image, size:'120x120',fallback:'no_image.jpg' %>
       <p>♥<%= ranking.favorites.count %> いいね</p>
       <!--↓ここでfavorites.countをlastFavoritesに代入して上のlastFavoritesに代入する-->
       <% lastFavorite = ranking.favorites.count %>
      <% else %>
       <% lastFavorite = ranking.favorites.count %>
       <p>第<%= j %>位</p>
       <p><%= link_to ranking.name, post_path(ranking) %></p>
        <%= attachment_image_tag ranking, :post_image, size:'120x120',fallback:'no_image.jpg' %>
       <p>♥<%= ranking.favorites.count %> いいね</p>
      <% end %>
     </div>
     <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="search-form mt-4 mb-4">
      <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :name, placeholder:"商品名"%>
        <%= f.submit '検索', class: 'btn btn-sm btn-secondary ' %>
      <% end %>
      </div>

      <div class="search-form">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>カテゴリー 検索</th>
          </tr>
        </thead>
        <tbody>
        <% @categorys.each do |category| %>
          <tr>
            <td>
              <%= link_to category, search_posts_path(category: category), controller: "posts", action: "search" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    </div>

    <div class="col-md-8">
      <h4 class="mt-4 mb-4 text-center">ALL Magic Storages</h4>
      <%= render 'posts/index', posts: @posts %>
      <p><%= paginate @posts %></p>
    </div>
</div>
