<div class="container">
  <div class="row mb-4 mx-auto">
    <div class="col-md-12">
      <p class="h4 mt-4 mb-5"> 詳細画面検索結果 </p>
    </div>
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= attachment_image_tag @post, :post_image, size:'350x450', fallback:'no_image.jpg' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <table class="table table-bordered">
          <tr>
            <th>商品名</th>
            <td><%= @post.name %></td>
          </tr>
          <tr>
            <th>投稿者</th>
            <td><%= @post.user.name %></td>
          </tr>
          <tr>
            <th>カテゴリ</th>
            <td><%= @post.category %></td>
          </tr>
          <tr>
            <th>大きさ</th>
            <td><%= @post.size %></td>
          </tr>
          <tr>
            <th>購入先</th>
            <td><%= Rinku.auto_link(@post.shop_url, :all, 'target="_blank"').html_safe %></td>
          </tr>
      </table>
      <div class="text-light">
         <div class="favorite-btn mt-2 mb-2"><%= render "favorites/favorite-btn", post: @post %></div>
        <% if @post.user == current_user %>
          <%= link_to '投稿を編集', edit_post_path(@post), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to '投稿を削除', post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <%= form_with model:[@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: 'form-control'%>
      <%= f.submit "コメントする", class: "btn btn-sm btn-outline-secondary mt-2" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="post_comments"><%= render "comments/index", post: @post %></div>
    </div>
  </div>
</div>
