<p>画像:<%= attachment_image_tag @post, :post_image, size:'200x200',fallback:'no_image.jpg' %></p>
<p>商品名:<%= @post.name %></p>
<p>カテゴリ:<%= @post.category %></p>
<p>投稿者:<%= @post.user.name %></p>
<p>大きさ:<%= @post.size %></p>
<p>購入先:<%= @post.shop_url %></p>
<p>説明:<%= @post.caption %></p>

<%= link_to '編集', edit_post_path(@post) %>
<%= link_to '削除', post_path(@post.id), method: :delete %>