<p>画像:<%= attachment_image_tag @post, :post_image, size:'200x200',fallback:'no_image.jpg' %></p>
<p>商品名:<%= @post.name %></p>
<p>カテゴリ:<%= @post.category %></p>
<p>投稿者:<%= @post.user.name %></p>
<p>大きさ:<%= @post.size %></p>
<p>購入先:<%= Rinku.auto_link(@post.shop_url, :all, 'target="_blank"').html_safe %></p>
<p>説明:<%= @post.caption %></p>

<div class="favorite-btn"><%= render "favorites/favorite-btn", post: @post %></div> <p class="comments_count">コメント件数：<%= @post.comments.count %></p>


<% if @post.user == current_user %>
<%= link_to '編集', edit_post_path(@post) %>
<%= link_to '削除', post_path(@post.id), method: :delete %>
<% end %>


<%= form_with model:[@post, @post_comment] do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "コメントする" %>
<% end %>

<div class="post_comments"><%= render "comments/index", post: @post %></div>

