<div class="container">
  <div class="row mb-4 mx-auto">
    <div class="col-md-12">
       <p class="h4 mt-4 mb-5">お問い合わせ</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form_with model:@inquiry, url:inquiry_confirm_path, local:true do |f| %>
        <% if @inquiry.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @inquiry.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name, "ユーザーネーム" %><span class="text-danger">（必須）</span>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %><span class="text-danger">（必須）</span>
          <%= f.email_field :email, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :message, "お問合せ内容" %>
          <%= f.text_area :message, rows:'7', class: 'form-control' %>
        </div>
          <%= f.submit '確認画面に進む', class:'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

