<!DOCTYPE html>
<html>
  <head>
    <title>Magic Storage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-sm" style="background: #CCCCCC;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to 'Magic Storage', root_path, class: "head navbar-brand p-3 rounded-pill mt-2" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navgation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '新規投稿', new_post_path, class: "nav-link text-dark tab rounded-pill"%>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: "nav-link text-dark tab rounded-pill" %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link text-dark tab rounded-pill" %>
              </li>
              <li class="nav-item">
                <%= link_to 'お問い合わせ', inquiry_path, class: "nav-link text-dark tab rounded-pill" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark tab rounded-pill" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: "nav-link text-dark tab rounded-pill" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-dark tab rounded-pill" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link text-dark tab rounded-pill" %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="text-center" style="height: 80px; line-height: 80px;">© 2021 Magic Storage All Rights Reserved</footer>
  </body>
</html>
